$icons: (
  facebook: "f",
  google: "g",
  twitter: "t",
  instagram: "i",
  whatsapp: "w",
  blog: "b"
);

$primary: #000000;
$secondary: #ffffff;
$complementray: #f2f2;
$default: #4d4d4d;
$red: red;
$gray: gray;
$black: #000000;
$white: #ffffff;
$font-color: #fefefe;
$transparent: transparent;
$icon-font: 'superhero' !important;;

//Media Break-points
$media-mobile-small-320: 320px;
$media-mobile-ex-small: 360px;
$media-mobile-med: 375px;
$media-mobile-small-max: 480px;
$media-mobile-max: 767px;
$media-tablet-min: 768px;
$media-tablet-max: 992px;
$media-desktop-min: 1024px;
$media-desktop-max: 1200px;
$media-laptop-max: 1366px;
$media-ex-large-min: 1367px;
$media-ex-large-max: 1441px;
$media-ex-large-hd-max: 1601px;
$media-xxlarge: 1900px;
$media-xxlarge-min: 2000px;

//Hidden Class
$web-hidden: none;
$mobile-hidden: none;

$thin_font-family: "Roboto", sans-serif;
$thin_font-family-italic: "Roboto", sans-serif;
$light_font-family: "Roboto", sans-serif;
$light_font-family-italic: "Roboto", sans-serif;
$regular_font-family: "Roboto", sans-serif;
$regular_font-family-italic: "Roboto", sans-serif;
$medium_font-family: "Roboto", sans-serif;
$medium_font-family-italic: "Roboto", sans-serif;
$semi-bold_font-family: "Roboto", sans-serif;
$bold_font-family: "Roboto", sans-serif;
$bold_font-family-italic: "Roboto", sans-serif;
$black_font-family: "Roboto", sans-serif;
$black_font-family-italic: "Roboto", sans-serif;

$thin_font-weight: 100;
$thin_font-weight-italic: 100i;
$light_font-weight: 300;
$light_font-weight-italic: 300i;
$regular_font-weight: 400;
$regular_font-weight-italic: 400i;
$medium_font-weight: 500;
$medium_font-weight-italic: 500i;
$semi-bold_font-weight: normal;
$bold_font-weight: 700;
$bold_font-weight-italic: 700i;
$black_font-weight: 900;
$black_font-weight-italic: 900i;
