@import "../_mixin.scss";
@import "../_variables.scss";

.padding {
  &__large {
    padding: 80px 0px;
  }

  &__medium {
    padding: 50px 0px;
  }

  &__small {
    padding: 30px 0px;
  }
}

.slider {
  .swiper-container {
    height: 100%;
  }

  .slider-img {
    position: relative;
    width: 100%;
    padding-top: 100vh;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.about {
  text-align: center;
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
  }

  .para {
    max-width: 640px;
    width: 100%;
    margin: auto;
    font-family: $regular-font-family;
    font-weight: $regular-font-weight;
    font-size: 14px;
    line-height: 1.4;
  }
}

.characters {
  background-color: $white;

  .main__container {
    position: relative;
    overflow: hidden;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* .swiper-slide {
   
    @include transform(scale(.8));
    @include transition(transform, .8s , ease-in-out);
    &-active{
      @include transform(scale(1));
      @include transition(transform, .8s , ease-in-out);
    }
  } */
}

.head {
  text-align: center;
  font-family: $bold-font-family;
  font-weight: $bold-font-weight;
  text-transform: uppercase;

  h1 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 90%);
      left: 50%;
      height: 2px;
      @include transform(translateX(-50%));
      bottom: 6px;
      background-color: $red;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 95%);
      left: 50%;
      height: 2px;
      @include transform(translateX(-50%));
      bottom: 1px;
      background-color: $red;
    }
  }
}